#topSalesContainer {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plant-item {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.plant-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}